@model WebBanThatLung.Models.SanPhamModel

@{
    ViewData["Title"] = "Chi tiết sản phẩm " + Model.TEN_SAN_PHAM;
    var culture = System.Globalization.CultureInfo.InvariantCulture;
}

<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <h2 style="color: #fff">Chi tiết sản phẩm</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .btn-mau{
        font-family: 'Poppins', sans-serif;
        display: inline-block;
        background-color: #F28123;
        color: #fff;
        border: none;
        width: 220px;
        height: 50px;
        border-radius: 30px;
    }
    .btn-mau:hover{
            background-color: #051922;
            color: #F28123;

    }


</style>

<div class="single-product mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div id="productCarousel" class="carousel slide single-product-img" data-ride="carousel">   
                    <div class="carousel-inner">
                        @if (Model.HINH_ANH != null && Model.HINH_ANH.Count > 0)
                        {
                            var isFirst = true;
                            foreach (var hinhAnh in Model.HINH_ANH)
                            {
                                <div class="carousel-item @(isFirst ? "active" : "")">
                                    <img class="d-block w-100" src="~/media/SanPham/@hinhAnh.TEN_HINH_ANH" height="500px" alt="Hình ảnh sản phẩm">
                                </div>
                                isFirst = false;
                            }
                        }
                        else
                        {
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="~/media/SanPham/default.jpg" alt="No image available">
                            </div>
                        }
                    </div>
                    <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h3>@Model.TEN_SAN_PHAM</h3>
                    <p class="single-product-pricing"><span></span> @Model.GIA.ToString("N0", culture).Replace(",", ".") VNĐ</p>
                    <p>@Model.MO_TA</p>
                    <div class="single-product-form">
                        <form method="post" asp-action="ThemGioHang" asp-controller="GioHang">
                            <input type="hidden" name="ID_SAN_PHAM" value="@Model.ID_SAN_PHAM" />

                            <div class="form-group">
                                <label for="SoLuong">Số lượng:</label>
                                <div class="input-group" style="width: 150px;">
                                    <div class="input-group-prepend">
                                        <button type="button" class="btn btn-outline-secondary btn-minus">-</button>
                                    </div>
                                    <input type="number" id="SoLuong" name="SoLuong" class="form-control text-center"  value="1" min="1">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary btn-plus">+</button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Mau">Chọn màu sắc:</label>
                                <div id="Mau">
                                    @if (ViewBag.DanhSachMau != null)
                                    {
                                        foreach (var mau in ViewBag.DanhSachMau)
                                        {
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input mau-radio" type="radio" name="Mau" id="Mau_@mau.ID_MAU" value="@mau.ID_MAU">
                                                <label class="form-check-label" for="Mau_@mau.ID_MAU">@mau.MAU</label>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>

@*                             <div id="SoLuongConLaiDiv" class="alert alert-info" role="alert">
                                <p id="SoLuongConLai" class="text-danger"></p>
                            </div> *@

                            <button type="submit" class="btn-mau">Thêm vào giỏ hàng</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="more-products mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3>Sản phẩm <span class="orange-text">liên quan</span></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Related products -->
            <div class="col-lg-3 col-md-6 text-center">
                <div class="single-product-item">
                    <div style="padding: 10px 0px; ">
                        <a href="single-product.html"><img src="~/image/hinh4.jpg" height="300px" width="90%" style="border-radius: 5px" alt=""></a>
                    </div>
                    <h3>Thắt lưng mini</h3>
                    <p class="product-price"><span></span> 85.000đ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="single-product-item">
                    <div style="padding: 10px 0px; ">
                        <a href="single-product.html"><img src="~/image/hinh4.jpg" height="300px" width="90%" style="border-radius: 5px" alt=""></a>
                    </div>
                    <h3>Thắt lưng mini</h3>
                    <p class="product-price"><span></span> 85.000đ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="single-product-item">
                    <div style="padding: 10px 0px; ">
                        <a href="single-product.html"><img src="~/image/hinh4.jpg" height="300px" width="90%" style="border-radius: 5px" alt=""></a>
                    </div>
                    <h3>Thắt lưng mini</h3>
                    <p class="product-price"><span></span> 85.000đ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="single-product-item">
                    <div style="padding: 10px 0px; ">
                        <a href="single-product.html"><img src="~/image/hinh4.jpg" height="300px" width="90%" style="border-radius: 5px" alt=""></a>
                    </div>
                    <h3>Thắt lưng mini</h3>
                    <p class="product-price"><span></span> 85.000đ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            $(".btn-minus").click(function () {
                var input = $(this).parent().next("input");
                var value = parseInt(input.val());
                if (value > 1) {
                    input.val(value - 1);
                }
            });

           
            $(".btn-plus").click(function () {
                var input = $(this).parent().prev("input");
                var value = parseInt(input.val());
                input.val(value + 1);
            });

            $("input[name='Mau']").change(function () {
                var selectedMau = $("input[name='Mau']:checked").val();
                var idSanPham = $("input[name='ID_SAN_PHAM']").val();

                $.ajax({
                    url: '@Url.Action("LaySoLuongSanPham", "GioHang")',
                    type: 'GET',
                    data: {
                        idSanPham: idSanPham,
                        idMau: selectedMau
                    },
                    success: function (data) {
                        $("#SoLuongConLai").text("Số lượng còn lại: " + data.soLuong);
                        $("#SoLuong").attr("max", data.soLuong);
                    },
                    error: function () {
                        $("#SoLuongConLai").text("Không thể lấy số lượng sản phẩm.");
                    }
                });
            });
        });
    </script>
}
